# these env-value from https://discord.com/developers/applications/1396591749295509514/bot
DISCORD_TOKEN=your-token-goes-here
DISCORD_CLIENT_ID=your-client-id-goes-here

# dev-only, for testing purposes
# if this set, the bot will only work in this guild
DISCORD_DEV_GUILD_ID=your-guild-for-dev-id-goes-here

# pCloud credentials
PCLOUD_EMAIL=your-pcloud-email-goes-here
PCLOUD_PASSWORD=your-pcloud-password-goes-here
PCLOUD_API_BASE=https://eapi.pcloud.com # pCloud API base URL (default = EU)
# PCLOUD_FOLDER_ID= # optional, default folder ID for uploads. If not set, defaults to root folder (0).
# PCLOUD_FOLDER_ID_MUSIC= # optional, folder ID for music files
# PCLOUD_FOLDER_ID_VIDEO= # optional, folder ID for video files