# these env-value from https://discord.com/developers/applications/1396591749295509514/bot
DISCORD_TOKEN=your-token-goes-here
DISCORD_CLIENT_ID=your-client-id-goes-here

# dev-only, for testing purposes
# if this set, the bot will only work in this guild
DISCORD_DEV_GUILD_ID=your-guild-for-dev-id-goes-here

# pCloud credentials
PCLOUD_API_TOKEN=your-pcloud-token-goes-here
PCLOUD_API_BASE=https://eapi.pcloud.com # pCloud API base URL (default = EU, if US, set to https://api.pcloud.com)
# PCLOUD_FOLDER_ID= # optional, default folder ID for uploads. If not set, defaults to root folder (0).
# PCLOUD_FOLDER_ID_MUSIC= # optional, folder ID for music files
# PCLOUD_FOLDER_ID_VIDEO= # optional, folder ID for video files

# LLM Settings (Default is OpenRouter)
LLM_API_KEY=your_llm_api_key_here
LLM_API_BASEURL=https://openrouter.ai/api/v1
LLM_API_MODEL=openrouter/auto